/* Font imports (DM Sans variable & static)*/

@font-face {
  font-family: variable;
  src: url("assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}
@font-face {
  font-family: variable-italic;
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}
@font-face {
  font-family: DMSans-Medium;
  src: url("assets/fonts/static/DMSans-Medium.ttf");
}
@font-face {
  font-family: DMSans-Medium-italic;
  src: url("assets/fonts/static/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: DMSans-Medium-regular;
  src: url("assets/fonts/static/DMSans-Regular.ttf");
}

/* Global reset & body layout*/

* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: hsl(0, 5%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main container (cards wrapper)*/

.main-container {
  max-width: 1440px;
  display: flex;
  gap: 20px;
  font-size: 18px;
  margin: 15px;
}
.main-container section {
  overflow: hidden;
  border-radius: 10px;
}

/*=============================================
   Individual card styling starts here
=============================================*/

/* Card: Create & schedule content quicker */

#schedule-creatore {
  background-color: hsl(31, 66%, 93%);
  font-family: DMSans-Medium;
  grid-area: c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  letter-spacing: -2px;
}

#schedule-creatore img {
  margin-top: 10px;
  width: 110px;
  align-items: center;
}

#schedule-creatore span {
  color: hsl(256, 67%, 59%);
  font-family: DMSans-Medium-italic;
}

/* Card: Social Media 10x Faster with AI */

#social-media {
  background-color: hsl(256, 67%, 59%);
  font-family: DMSans-Medium;
  grid-area: c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#social-media header {
  color: white;
  font-size: 35px;
}

#social-media #number {
  color: hsl(39, 100%, 71%);
  font-family: variable;
}

#social-media #faster {
  font-family: DMSans-Medium-italic;
}

#social-media .footer-text {
  color: hsl(31, 66%, 93%);
  font-size: 10px;
  padding-top: 5px;
}

#social-media img {
  width: 100px;
}

/* Card: Schedule to social media */

#social-schedule {
  background-color: hsl(254, 88%, 90%);
  font-family: DMSans-Medium;
  grid-area: c2;
  padding: 20px;
  overflow: hidden;
}

#social-schedule header {
  font-size: 20px;
  letter-spacing: -1.3px;
  padding-top: 10px;
}

#social-schedule img {
  width: 230px;
  height: 200px;
  padding-top: 10px;
}

#social-schedule .footer-text {
  font-family: DMSans-Medium-regular;
  font-size: 11px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Card: Manage multiple accounts and platforms */

#manage-account {
  background-color: hsl(0, 0%, 100%);
  font-family: DMSans-Medium;
  grid-area: c3;
  overflow: hidden;
}

#manage-account img {
  padding-left: 15px;
  padding-top: 15px;
  width: 200px;
}

#manage-account header {
  padding: 15px;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: -1.3px;
}

/* Card: Maintain a consistent posting schedule */

#maintaining {
  background-color: hsl(39, 100%, 71%);
  font-family: DMSans-Medium;
  grid-area: c4;
  overflow: hidden;
}

#maintaining header {
  font-size: 20px;
  padding: 15px;
  line-height: 18px;
  letter-spacing: -1.3px;
}

#maintaining img {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  box-sizing: border-box;
  width: 160px;
}

/* Card: Write your content using AI */

#write-content {
  background-color: hsl(39, 100%, 71%);
  font-family: DMSans-Medium;
  grid-area: c2;
  position: relative;
}

#write-content header {
  padding: 15px;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: -2.4px;
}

#write-content img {
  width: 140px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* Card: Faster audience growth */

#audience {
  background-color: hsl(0, 0%, 100%);
  grid-area: c5;
  display: flex;
  justify-content: top;
  flex-direction: column;
}

#audience header {
  font-family: variable;
  font-size: 40px;
  font-weight: 500;
  margin-top: 5%;
  margin-left: 8%;
}

#audience .footer-text {
  font-family: DMSans-Medium-regular;
  text-align: center;
  font-size: 10px;
}

#audience img {
  margin: 0px auto;
  margin-top: 15px;
  width: 115px;
}

/* Card: Growth followers with non-stop content */

#followers {
  background-color: hsl(256, 67%, 59%);
  grid-area: c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#followers img {
  padding: 15px;
  padding-right: 0px;
  width: 140px;
}

#followers header {
  color: white;
  font-family: DMSans-Medium;
  font-size: 20px;
  box-sizing: border-box;
}

/*=============================================
   Grid layout containers (side-by-side placement)
=============================================*/

#right-box {
  order: 2;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: 200px 170px 150px;
  grid-template-areas:
    "c1 c1 c2"
    "c3 c4 c2"
    "c5 c6 c6";
  gap: 20px;
}

#left-box {
  order: 1;
  display: grid;
  grid-template-columns: 160px;
  grid-template-rows: 50%;
  grid-template-areas:
    "c1"
    "c2";
  gap: 20px;
}

/*=============================================
   Responsive design (Mobile <= 375px)
=============================================*/

@media screen and (max-width: 730px) {
  /* Main layout */

  .main-container {
    flex-direction: column;
  }

  /* Right and Left grid layout */

  #right-box {
    order: 1;
  }
  #left-box {
    grid-template-areas: "c1 c2";
    grid-template-rows: 90%;
  }
}
@media screen and (max-width: 527px) {
  /* Main layout */

  .main-container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* Right grid layout */

  #right-box {
    order: 1;
    grid-template-columns: 100%;
    grid-template-rows: 250px 150px 180px 450px 350px 180px;
    grid-template-areas:
      "c1"
      "c3"
      "c4"
      "c2"
      "c6"
      "c5";
  }

  /* Left grid layout */

  #left-box {
    grid-template-columns: 100%;
    grid-template-rows: 220px 350px;
  }

  /* Card: Social Media 10x Faster with AI */

  #social-media img {
    width: 200px;
  }

  #social-media header {
    padding: 30px;
    padding-top: 10px;
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -1.3px;
    padding-bottom: 20px;
  }

  #social-media .footer-text {
    font-size: 20px;
  }

  /* Card: Manage multiple accounts and platforms */

  #manage-account header {
    font-size: 25px;
    line-height: 25px;
  }

  /* Card: Maintain a consistent posting schedule */

  #maintaining header {
    font-size: 20px;
    line-height: 20px;
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #maintaining img {
    width: 210px;
  }

  /* Card: Schedule to social media */

  #social-schedule {
    padding: 15px;
  }

  #social-schedule header {
    padding: 10px;
    text-align: center;
  }

  #social-schedule img {
    padding-top: 15px;
    width: 100%;
    height: auto;
  }

  #social-schedule .footer-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-align: center;
  }

  /* Card: Growth followers with non-stop content */

  #followers {
    flex-direction: column;
  }

  #followers img {
    width: 220px;
  }

  #followers header {
    text-align: center;
    font-size: 25px;
    padding-right: 50px;
    padding-left: 50px;
  }

  /* Card: Faster audience growth */

  #audience {
    justify-content: flex-start;
    align-items: flex-start;
  }

  #audience img {
    margin: 0;
    padding-left: 30px;
  }

  #audience .footer-text {
    font-size: 15px;
    padding: 5px 0 15px 30px;
  }

  /* Card: Create & schedule content quicker */

  #schedule-creatore {
    display: block;
  }

  #schedule-creatore header {
    padding: 10px;
    font-size: 28px;
  }

  #schedule-creatore img {
    width: 150px;
  }

  /* Card: Write your content using AI */

  #write-content header {
    padding: 25px;
    padding-right: 30px;
    font-size: 30px;
    line-height: 35px;
  }

  #write-content img {
    padding: 5px;
    width: 200px;
  }
}
